html {
  height: 100%;
}

body {
  --text-primary: #ECF1ED;
  --text-secondary: #D4D4D4;
  --text-tertiary: #5B6886;
  --background-primary: #2e364e;
  --background-secondary: #232D48;
  --background-tertiary: #192036;
  --border-radius: 18px;
  position: relative;
  min-height: 100%;
  background-color: #232D48;
background: url(https://i.imgur.com/ny0kIBb.jpg);
background-repeat: no-repeat;
  background-size: auto;
  padding: 0 0 60px 0;
  margin: 40px;
  font-size: 16px;
}

body h1, body h2, body h3, body h4 {
  font-family: 'Nunito';
  margin: 0;
}

body a {
  text-decoration: none;
}

body a:visited, body a:link {
  color: unset;
}

body::-webkit-scrollbar {
  background-color: var(--background-tertiary);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--background-primary);
}

body header {
  position: relative;
  margin: 0 auto 20px auto;
  width: 450px;
  height: 110px;
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body header #avatar {
  width: 95%;
  height: auto;
}

body main #themes-header {
  margin-bottom: 20px;
}

body main #themes-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #themes-header > div img {
  width: 40px;
}

body main #themes-header > div h4 {
  font-size: 1.5em;
  color: var(--text-tertiary);
  margin-left: 10px;
}

body main #themes-header .separator {
  position: relative;
  top: -4px;
  left: 23px;
  width: 200px;
  height: 4px;
  background-color: var(--text-tertiary);
  border-radius: var(--border-radius);
}

body main #themes {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(500px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-gap: 25px;
  margin-bottom: 40px;
}

body main #themes .theme {
  position: relative;
  max-width: 700px;
  color: var(--text-secondary);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

body main #themes .theme img {
  width: 100%;
  height: 100%;
}

body main #themes .theme h2 {
  position: absolute;
  bottom: -55px;
  left: 0;
  right: 0;
  padding: 10px 0 10px 15px;
  background-color: #00000036;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
  -webkit-transition: bottom 0.15s;
  transition: bottom 0.15s;
}

body main #themes .theme:hover h2 {
  bottom: 0;
}

body main #spotify-header {
  margin-bottom: 20px;
}

body main #spotify-header > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body main #spotify-header > div img {
  width: 40px;
}

body main #spotify-header > div h4 {
  font-size: 1.5em;
  color: var(--text-tertiary);
  margin-left: 10px;
}

body main #spotify-header .separator {
  position: relative;
  top: -4px;
  left: 23px;
  width: 200px;
  height: 4px;
  background-color: var(--text-tertiary);
  border-radius: var(--border-radius);
}

body main #spotify {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(310px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-gap: 25px;
  margin-bottom: 40px;
}

body main #spotify .spotify {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 130px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--text-secondary);
  background-color: var(--background-primary);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  -webkit-transition: 0.15s;
  transition: 0.15s;
}

body main #spotify .spotify img {
  height: 100%;
}

body main #spotify .spotify h2 {
  margin-left: 15px;
  margin-top: 5px;
}

body footer {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  margin: 0 -40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: var(--text-secondary);
  background-color: var(--background-tertiary);
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body footer img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

#bgAudio {
position:fixed;
z-index:1000; 
width:250px;
}

audio {
    width: 250px;
    height: 30px;
}
audio::-webkit-media-controls,
  {
    width: inherit;
    height: inherit;
    position: relative;
    direction: ltr;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
audio::-webkit-media-controls-enclosure, {
    width: 100%;
    max-width: 800px;
    height: 30px;
    flex-shrink: 0;
    bottom: 0;
    text-indent: 0;
    padding: 10px 5px 5px 0px;
    box-sizing: border-box;
}

/* audio::-webkit-media-controls-panel,  {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* We use flex-start here to ensure that the play button is visible even
     * if we are too small to show all controls.
     *//*height: 25px;  
      background: #ffffff;
    justify-content: flex-start;
    -webkit-user-select: none;
    position: relative;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    text-align: right;
    bottom: auto;


    border-radius: 5px;
    /* The duration is also specified in MediaControlElements.cpp and LayoutTests/media/media-controls.js */
    /*transition: opacity 0.3s;
} */


/*audio:-webkit-full-page-media::-webkit-media-controls-panel,
video:-webkit-full-page-media::-webkit-media-controls-panel {
    bottom: 0px;

}*/
audio::-webkit-media-controls-mute-button, video::-webkit-media-controls-mute-button {
    -webkit-appearance: media-mute-button;
    display: none;

}
audio::-webkit-media-controls-overlay-enclosure {
    display: none;
}
audio::-webkit-media-controls-play-button, video::-webkit-media-controls-play-button {
    -webkit-appearance: media-play-button;
    display: flex;
    flex: none;
    border: none;
    box-sizing: border-box;
    width: 15px;
    height: 15px;
    line-height: 30px;
    margin-left: 0px;
    margin-right: 9px;
    padding: 0;
    background-color:initial;
    color: blue;
}
audio::-webkit-media-controls-timeline-container, video::-webkit-media-controls-timeline-container {
    -webkit-appearance: media-controls-background;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex: 1 1;
    -webkit-user-select: none;
    height: 16px;
    min-width: 0;
}
audio::-webkit-media-controls-current-time-display, video::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display, video::-webkit-media-controls-time-remaining-display {
    -webkit-appearance: media-current-time-display;
    -webkit-user-select: none;
    flex: none;
    display: flex;
    border: none;
    cursor: default;
    height: 30px;
    margin: 0 9px 0 0;
    padding: 0;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    color: #a7a9a9;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0;
    text-shadow: none;
    text-decoration: none;
}
audio::-webkit-media-controls-timeline, video::-webkit-media-controls-timeline {
    -webkit-appearance: media-slider;
    display: flex;
    flex: 1 1 auto;
    height: 8px;
    margin: 0 15px 0 0;
    padding: 0;
    background-color:#1fa6e5;
    min-width: 25px;
    border: initial;
    color:initial;
}
audio::-webkit-media-controls-volume-slider, video::-webkit-media-controls-volume-slider {
    -webkit-appearance: media-volume-slider;
    display: none;
    }
  audio::-webkit-media-controls-panel {
  height: 25px;  
  background: #ffffff;
} 


/*# sourceMappingURL=main.css.map */